.historia{
    background-color: $blue;
    border-radius: 2rem;
    width: 100%;
    .Hjpg{
        height: 30%;
        width: 30%;
        margin: 50px;    
    }
    .Hp{
        color: $white;
        padding: 20px;
        width: 60%;
    }
}
