//colores
$red: #CC0000;
$grey: #8D99AE;
$white: #fefdfd;
$black: #000000;
$yellow: #f2ff04;
$blue: #1d3557;
//background
$bg-imgf1-header: url(../assets/header/f1-header3.jpg);
$bg-img-pistas: url(../assets/pistas/background-card.jpeg);
$bg-img-footer: url(../assets/footer/fondo-footer2.jpg)