.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 10px;
    border-right: 10px;
    border-bottom: 0;
    border-left: 0;
    border-style: solid;
    border-top-right-radius: 2rem;
    border-color: $red;
    width: 100%
}